* {
    margin: auto;
}

.header-content {
    background-color: #a2fad0;
    width: 100%;
    height: 120px;
}

.menu-options {
    display: flex;
    justify-content: space-around;
}

.header-content img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.header-content p {
    font-family:'Courier New', Courier, monospace;
    width: 100px;
    font-size: 20px;   
}



.content-lista {
    width: 100%;
    height: auto;
    background-color: #a7eff5;
    border: solid 0.5px #90decf;
}

.user-box {
    width: 15%;
    height: auto;
    background-color: #a2c4fa;
    border-radius: 20%;
    margin-top: 10px;
    display: flex;
    margin-right: 120px;
}

.user-box p {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}


.titulo-listar {
    width: 30%;
    height: auto;
    background-color: #a2c4fa;
    display: flex;
    margin-top: 35px;
    border-radius: 20%;
}

.titulo-listar h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}


.btn-listar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.lista-consultas {
    width: 95%;
    height: 550px;
    overflow-y: auto;
    background-color: lightgoldenrodyellow;
    border: solid 4px #a2c4fa;
    margin-top: 15px;
    margin-bottom: 25px;
}


.titulos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: underline;
}


.btn-pencil,.btn-lixo {
    width:15px;
    height: 15px;
    display: flex;
    justify-content: center;
    border: none;
    background: lightgoldenrodyellow;
    cursor: pointer;
    padding: 0 15px;
}


.pencil,.lixo {
    width:15px;
    height: 15px;
}


.campo-situacao-med, .campo-descricao-med {
    border: 0px;
    display: flex;
    justify-content: space-evenly;
}





.tabela-lista, td, th{
    border: solid 1.5px #000;
}

.tabela-lista {
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    empty-cells: hide;
}







.pop-up {
    width: 300px;
    height: 180px;
    padding: 10px;
    border: solid 1px black;
    background: lemonchiffon;
    margin: auto;
    position: fixed;  
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none   
}







.pop-up-situacao {
    width: 300px;
    height: 180px;
    padding: 10px;
    border: solid 1px black;
    background: lemonchiffon;
    margin: auto;
    position: fixed;  
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none  
}





.pop-up-descricao {
    width: 300px;
    height: 180px;
    padding: 10px;
    border: solid 1px black;
    background: lemonchiffon;
    margin: auto;
    position: fixed;  
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none   
}








.footer-content {
    background-color: #a2fad0;
    border: solid 0.5px #90c3de;
    width: 100%;
    height: 120px;
}

.footer-content p {
    font-family:'Courier New', Courier, monospace;
    width: 100px;
    font-size: 18px;   
}

.footer-options {
    display: flex;
    justify-content: space-around;
}

.footer-options p {
    text-align: center;
}



.social-media {
    padding-right: 60px;
}


.social-media p {
    margin-bottom: 10px;
}

.links-uteis, .trabalhe-conosco, .privacidade, .contato {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
}